body{font-family: arial;}

.a{
	color:#0033FF;
	float:right;
	font-size: 12px;
}
h1{
	margin:0;
	padding:0;
	color:#2C2C2C;
	text-decoration:none;
	font-size: 16px;
}
.as_wrapper{
	margin: 5px auto;
	padding:3px;
	border:1px dashed #17A3F7;
	margin-top:3px;
}
.as_wrapper p{
	float:left;
	font-size: 8px;
}

.logout {
		cursor: pointer;
		float: right;
		color:#0033FF;}

.panel_izq {
		position: relative;
		float:left;
		width:150px;
		min-height: auto;
		text-align: left;
}

.panel_izq span{margin-top: 20px;}

.test {
	color: blue;
}

.panel_izq .display th{
	color:red;
}

#contenedorPpal {
		position: relative;
		float:left;
		margin:5px;
		max-width:1100px; 
}

.realBody {
		width: auto;
		min-height: 500px;
}

#nuevo_usuario {
	float:right;
	position: relative;
	margin-bottom: 20px;
}

.pointer {cursor: pointer;
			margin-top: 10px;

}

