body{font-family: arial;}

.a{
	color:#0033FF;
	float:right;
	font-size: 12px;
}
.tab-lateral {
	width: 170px;
	float: left;
	margin-right: 0;
	margin-left: 0;
	margin-top: 10px;
	border-style: solid;
	box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
	border-color: #ddd;
	border-width: 1px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
h1{
	margin:0;
	padding:0;
	color:#2C2C2C;
	text-decoration:none;
	font-size: 16px;
}
.header{
	margin: 5px auto;
	padding:3px;
	border:1px dashed #17A3F7;
	margin-top:3px;
}
.as_wrapper p{
	float:left;
	font-size: 8px;
}

#tabla_productos_user td{
    text-align: center;
    font-family:courier;
}

.dialogo_productos_usuario h4{
    color: #474747;
}

#tabla_productos_user tr#total{
    text-transform:uppercase;
}

#tabla_productos_user th {
    text-align: center;
    color: #8C8C8C;
}

/*.tabla_productos_de_usuario {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

.tabla_productos_de_usuario th {
    font-size: 1.1em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

.tabla_productos_de_usuario td, #tabla_productos_de_usuario th {
   font-size: 1em;
   border: 1px solid #98bf21;
   padding: 3px 7px 2px 7px;
   text-align: center;
}*/

.logout {
		cursor: pointer;
		float: right;
		color:#0033FF;}

.panel_izq {
		position: relative;
		float:left;
		width:150px;
		min-height: auto;
		text-align: left;
}

.panel_izq span{margin-top: 20px;}

.test {
	color: blue;
}

.panel_izq .display th{
	color:red;
}

#contenedorPpal {
		position: relative;
		float:left;
		margin-left: 30px;
		margin-top: -28px;
		max-width:1100px; 
}

.realBody {
		width: 1500px;
		min-height: 500px;
}

#nuevo_usuario {
	float:right;
	position: relative;
	margin-bottom: 10px;
	margin-top: 10px;
}

#nueva_area {
    float:right;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}

#errores {
	color:red;
	font-size: 14px;
	font-family: "fantasy";
	font-style: italic;
}

.error_dialog {
	color:red;
	font-size: 14px;
	font-family: "fantasy";
	font-style: italic;
}

.pointer {cursor: pointer;
			margin-top: 10px;

}

.pointer_mon {cursor: pointer;
			margin-top: 10px;

}

.pointer_cpu {cursor: pointer;
			margin-top: 10px;

}

#agregar_disco{
	margin-left:10px;
	margin-right: 5px;
	font-weight:bold;
	font-size: 17px;
}

.boton_agregar {
	float:right;
	margin-top: 10px;
	font-size: 15px;
	background-color: blue;
	color:white;
}

#select_unidades_memorias{
 width:60px;   
}

#select_capacidades_memorias{
 width:60px;   
}

#select_unidades_computadoras{
 width:115px;   
}

#select_capacidades_computadoras{
 width:105px;   
}



.pointer :hover{
	cursor: pointer;
}

p.error_usuario{
	font-size: 14px;
	color:red;
	font-family: "fantasy";
	font-style: italic;
	margin-left: 5px;
	margin-top: 0;
	margin-bottom: 0;
}

p.acierto_usuario{
	font-size: 14px;
	color:green;
	font-family: "fantasy";
	font-style: italic;
	margin-left: 5px;
	margin-top: 0;
	margin-bottom: 0;
}

.required:after{ content:" *";
				 color:red;}

#boton_radio label{  
			   font-size: 14px;
			   color: black;
			   font-style: bold;
			   background-color: white;
			   font-family: "Courier";
			   margin: 0;
			   padding: 0;}

#boton_radio input[type="radio"] {vertical-align: baseline;
								  margin-right: 2px;}

.boton_radio td text{  
				   font-size: 14px;
				   color: black;
				   font-style: bold;
				   background-color: white;
				   font-family: "Courier";
			   }

/*.boton_radio input[type="radio"]{
									vertical-align: baseline;
							 	  	margin-right: 2px;
						 	   	}*/


table.fixed_user td{
					  table-layout:fixed;
					  min-width:98px;
					  overflow:hidden;
					  word-wrap:break-word;
					  padding-right: 10px;
					}

#form_nueva_marca_y_modelo ul, #form_nueva_marca_y_modelo_computadora ul, #form_nueva_marca_y_velocidad_memoria ul, #form_nueva_marca ul
{
    list-style-type: none;
    padding-left: 0px;
}

#form_nueva_marca_y_modelo ul li, #form_nueva_marca_y_modelo_computadora ul li, #form_nueva_marca_y_velocidad_memoria ul li, #form_nueva_marca ul li
{
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
}

#boton_nueva_marca
{
    float:left;
    margin-top: 10px;
}

#form_nueva_marca_y_modelo ul li input[name="marca"],#form_nueva_marca_y_modelo_computadora ul li input[name="marca"],#form_nueva_marca_y_velocidad_memoria ul li input[name="marca"],#form_nueva_marca ul li input[name="marca"]
{
    text-transform: uppercase;
}

#form_nueva_marca_y_modelo fieldset, #form_nueva_marca_y_modelo_computadora fieldset, #form_nueva_marca_y_velocidad_memoria fieldset, #form_nueva_marca fieldset
{
    overflow: auto;
}

#form_nueva_marca_y_modelo_computadora div p, #form_nueva_marca_y_velocidad_memoria div p, #form_nueva_marca_y_modelo div p, #form_nueva_marca div p{
    margin-left: 27px;
}

#form_nueva_marca_y_modelo ul li text, #form_nueva_marca_y_modelo_computadora ul li text, #form_nueva_marca_y_velocidad_memoria ul li text, #form_nueva_marca ul li text 
{ 
    float: left;
    width: 110px;
    font-size: 17px;
    font-weight: bold;
    vertical-align: middle;
}

/*-----------------------------------Agregar Monitor--------------------------------------*/

#form_agregar_monitor
{
    /**/
}

#form_agregar_monitor ul
{
    list-style-type: none;
    padding-left: 0px;
}

#form_agregar_monitor ul li
{
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
}

#boton_crear_monitor
{
    float:right;
    margin-right: 135px;
    margin-top: 10px;
}

#select_marcas_monitores
{
    width: 160px;
}

#select_modelos_Monitor
{
    width: 160px;
}

#form_agregar_monitor fieldset{
	overflow: auto;
}

#form_agregar_monitor div p{
    margin-left: 28px;
}

#form_agregar_monitor ul li input[id="nro_de_serie_m"]
{
    width: 146px;
    text-align: center;
}

#form_agregar_monitor ul li text{ 
    float: left;
    width: 110px;
    font-size: 17px;
    font-weight: bold;
    vertical-align: middle;
}

/*-----------------------------------Termino agregar monitor------------------------------------*/

/*-----------------------------------Agregar Disco--------------------------------------*/

#form_agregar_disco
{
    /**/
}

#form_agregar_disco ul 
{
    list-style-type: none;
    padding-left: 0px;
}

#form_agregar_disco ul li
{
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
}

#form_agregar_disco div p{
    margin-left: 28px;
}

#boton_crear_disco
{
    float:right;
    margin-right: 135px;
    margin-top: 10px;
    font-size: 15px;
}

#select_marcas_discos 
{
    width: 160px;
}

#select_capacidades_discos
{
    text-align: right;
    width: 80px;
}

#select_unidades_discos
{
    width: 80px;
}

#form_agregar_disco ul li input[id="cantidad"]
{
    width: 156px;
    text-align: center;
}

#form_agregar_disco ul li text { 
    float: left;
    width: 110px;
    font-size: 17px;
    font-weight: bold;
    vertical-align: middle;
}

/*-----------------------------------Termino agregar disco------------------------------------*/

/*-----------------------------------Agregar Computadora--------------------------------------*/

#form_agregar_computadora
{
    /**/
}

#form_agregar_computadora ul 
{
    list-style-type: none;
    padding-left: 0px;
}

#form_agregar_computadora ul li
{
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
}

#form_agregar_computadora div p{
    margin-left: 28px;
}

#boton_crear_computadora
{
    float:right;
    margin-right: 135px;
    margin-top: 10px;
    font-size: 15px;
}

#select_marcas_computadoras 
{
    width: 160px;
}

#select_modelos_Computadora
{
    width: 160px;
}

#select_clase
{
    width: 160px;
}

#form_agregar_computadora fieldset {
	overflow: auto;
}

#form_agregar_computadora ul li input[id="nro_de_serie_c"]
{
    width: 146px;
    text-align: center;
}

#form_agregar_computadora ul li text { 
    float: left;
    width: 110px;
    font-size: 17px;
    font-weight: bold;
    vertical-align: middle;
}

/*-----------------------------------Termino agregar computadora------------------------------------*/

/*-----------------------------------Agregar Memoria--------------------------------------*/

#form_agregar_memoria
{
    /**/
}

#form_agregar_memoria ul 
{
    list-style-type: none;
    padding-left: 0px;
}

#form_agregar_memoria ul li
{
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
}

#form_agregar_memoria div p{
    margin-left: 28px;
}

#boton_crear_memoria
{
    float:right;
    margin-right: 135px;
    margin-top: 10px;
    font-size: 15px;
}

#select_marcas_memorias 
{
    width: 160px;
}

#select_capacidades_memorias
{
    text-align: right;
    width: 80px;
}

#select_unidades_memorias
{
    width: 80px;
}

#select_tipos_memorias
{
    width: 160px;
}

#select_velocidades
{
    width: 160px;
}

#form_agregar_memoria fieldset {
	overflow: auto;
}

#form_agregar_memoria ul li input[name="cant_veces"]
{
    width: 156px;
    text-align: center;
}

#form_agregar_memoria ul li text { 
    float: left;
    width: 110px;
    font-size: 17px;
    font-weight: bold;
    vertical-align: middle;
}

/*-----------------------------------Termino agregar memoria------------------------------------*/



/*-----------------------------------Agregar Impresora----------------------------------------*/

#form_agregar_impresora
{
    /**/
}

#form_agregar_impresora ul 
{
    list-style-type: none;
    padding-left: 0px;
}

#form_agregar_impresora ul li
{
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
}

#form_agregar_impresora div p{
    margin-left: 28px;
}

#boton_crear_impresora
{
    float:right;
    margin-right: 135px;
    margin-top: 10px;
    font-size: 15px;
}

#form_agregar_impresora ul li input[id="ip"]
{
    width: 146px;
    text-align: center;
}

#form_agregar_impresora ul li input[id="nro_de_serie_i"]
{
    width: 146px;
    text-align: center;
}

#form_agregar_impresora fieldset {
	overflow: auto;
}


#select_marcas_impresoras 
{
    width: 160px;
}

#select_modelos_Impresora 
{
    width: 160px;
}

#form_agregar_impresora ul li text { 
    float: left;
    width: 110px;
    font-size: 17px;
    font-weight: bold;
    vertical-align: middle;
}

/*-----------------------------------Termino agregar impresora----------------------------------*/
