<div class="tab-lateral">                        
                    <ul class="nav nav-list">
                    <li class="nav-header">Bases de datos</li>
                            <li class="test"><a  href=
                            "controlador/ProductosController.php" id=
                            "link_agregar_producto">Agregar un Producto</a></li>
                            <li class="test"><a  href=
                            "controlador/UsuariosController.php" id=
                            "link_usuarios">ABM Usuarios</a></li>
                            <li class="test"><a  href="controlador/MarcasController.php"
                            id="link_marcas">ABM Marcas</a></li>
                            <!--<li class="test"><a  href=
                            "controlador/PedidosController.php" id=
                            "link_pedidos">ABM Pedidos</a></li>
                            <li class="test"><a  href=
                            "controlador/CreadorPedidos.php" id=
                            "link_pedidos">CREAR Pedido</a></li>
                            <li class="test"><a  href=
                            "controlador/InsumosController.php" id=
                            "link_insumos">ABM Insumos</a></li>-->
                            <li class="test"> <a  href="controlador/StockController.php"
                            id="link_stock">ABM Stock</a></li>
                            <li class="test"><a  href=
                            "controlador/PermisosController.php" id=
                            "link_permisos">ABM Permisos</a></li>
                            <li class="test"><a  href="controlador/AreasController.php"
                            id="link_areas">ABM Areas</a></li>
                            <li class="test"><a  href="controlador/MonitoresController.php"
                            id="link_areas">ABM Monitores</a></li>
                            <li class="test"><a  href="controlador/ComputadorasController.php"
                            id="link_areas">ABM Computadoras</a></li>
                            <li class="test"><a  href="controlador/MemoriasController.php"
                            id="link_areas">ABM Memorias</a></li>
                            <li class="test"><a  href="controlador/DiscosController.php"
                            id="link_areas">ABM Discos</a></li>
                    </ul>
</div>

