<div class="tab-lateral">                        
                    <ul class="nav nav-list">
                    <li class="nav-header">Bases de datos</li>
                            <li class="test"><a  href=
                            "mis_productos" id=
                            "link_mis_productos">Mis Productos</a></li>
                            <li class="test"><a  href=
                            "controlador/ProductosController.php" id=
                            "link_agregar_producto">Agregar un Producto</a></li>
                            <li class="test"><a  href=
                            "controlador/StockController.php" id=
                            "link_ver_stock">STOCK de productos</a></li>
                            <li class="test"><a  href=
                            "controlador/UsuariosController.php" id=
                            "link_usuarios">ABM Usuarios</a></li>
                            <li class="test"><a  href="controlador/MarcasController.php"
                            id="link_marcas">ABM Marcas</a></li>
                            <li class="test"><a  href=
                            "controlador/PermisosController.php" id=
                            "link_permisos">ABM Permisos</a></li>
                            <li class="test"><a  href="controlador/AreasController.php"
                            id="link_areas">ABM Areas</a></li>
                            <li class="test"><a  href="controlador/MonitoresController.php"
                            id="link_monitores">ABM Monitores</a></li>
                            <li class="test"><a  href="controlador/ComputadorasController.php"
                            id="link_computadoras">ABM Computadoras</a></li>
                            <li class="test"><a  href="controlador/MemoriasController.php"
                            id="link_memorias">ABM Memorias</a></li>
                            <li class="test"><a  href="controlador/DiscosController.php"
                            id="link_discos">ABM Discos</a></li>
                            <li class="test"><a  href="controlador/ImpresorasController.php"
                            id="link_impresoras">ABM Impresoras</a></li>
                            <li class="test"><a  href="controlador/RoutersController.php"
                            id="link_routers">ABM Routers</a></li>
                            <li class="test"><a  href="controlador/SwitchsController.php"
                            id="link_switchs">ABM Switchs</a></li>
                    </ul>
</div>
<script type="text/javascript">
                $.get('logueo/check_priority.php', function(permisos) {
                    if (permisos == 2) {
                            $("#link_agregar_producto,#link_ver_stock,#link_permisos").hide();
                    }
                });
</script>


