    <div class="panel_izq">
                        <table border="0" cellpadding="0" cellspacing="0" class="display">
                            <tr>
                                <th>Bases de datos</th>
                            </tr>
                            <tr>
                                <td>
                                    <a class="test" href=
                                    "controlador/ProductosController.php" id=
                                    "link_agregar_producto">Agregar un Producto</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="test" href=
                                    "controlador/UsuariosController.php" id=
                                    "link_usuarios">ABM Usuarios</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="test" href="controlador/MarcasController.php"
                                    id="link_marcas">ABM Marcas</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="test" href=
                                    "controlador/PedidosController.php" id=
                                    "link_pedidos">ABM Pedidos</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="test" href=
                                    "controlador/CreadorPedidos.php" id=
                                    "link_pedidos">CREAR Pedido</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="test" href=
                                    "controlador/InsumosController.php" id=
                                    "link_insumos">ABM Insumos</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="test" href="controlador/StockController.php"
                                    id="link_stock">ABM Stock</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="test" href=
                                    "controlador/PermisosController.php" id=
                                    "link_permisos">ABM Permisos</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="test" href="controlador/AreasController.php"
                                    id="link_areas">ABM Areas</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="test" href="controlador/MonitoresController.php"
                                    id="link_areas">ABM Monitores</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="test" href="controlador/ComputadorasController.php"
                                    id="link_areas">ABM Computadoras</a>
                                </td>
                            </tr>
                        </table>
    </div>